@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>404</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,600,700%7CSource+Sans+Pro:400,600,700' rel='stylesheet'>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-icons.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="apple-touch-icon" href="/img/apple-icon.png">
</head>

<body class="style-default style-rounded error404">
    <main>
        <div class="blog__content mb-72">
            <div class="container text-center">
                <h1 class="page-404-number">404</h1>
                <h2>صفحه یافت نشد</h2>
                <p>نگران نباشید.جستجو کنید...</p>

                <div class="row justify-content-center mt-40">

                    <div class="col-md-6">
                        <!-- Search form -->
                        <form role="search" action="/Search" method="get" class="search-form relative">
                            <input type="search" class="widget-search-input mb-0" name="q" placeholder="جستجو مقاله">
                            <button type="submit" class="widget-search-button btn btn-color"><i class="ui-search widget-search-icon"></i></button>
                        </form>
                    </div>

                </div> <!-- end row -->

            </div> <!-- end container -->
        </div>

    </main> <!-- end main-wrapper -->
</body>
</html>
