<nav class="pagination">
    <span class="pagination__page pagination__page--current">۱</span>
    <a href="#" class="pagination__page">۲</a>
    <a href="#" class="pagination__page">۳</a>
    <a href="#" class="pagination__page">۴</a>
    <a href="#" class="pagination__page pagination__icon pagination__page--next"><i class="ui-arrow-left"></i></a>
</nav>