@model bool
<div class="form-check">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input"  asp-for="@Model">
        <label class="custom-control-label" asp-for="@Model"></label>
    </div>
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>
