@model Enum
@{
    var type = Model.GetType();
}
<div class="form-group">
    <label asp-for="@Model"></label>
    <select class="form-control" asp-for="@Model" asp-items="Html.GetEnumSelectList(type)">
    </select>
    <span asp-validation-for="@Model"></span>
</div>